#root {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}


@media (max-width: 600px) {

    .header,
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .box-container {
        width: 90%;
        height: auto;
        padding: 1rem;
    }

    #main-content-home,
    #main-content-reminders,
    #main-content-memory,
    #main-content-activity {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .social-icons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .login-form {
        width: 90%;
        height: auto;
    }

    .popup-container {
        width: 90%;
        height: auto;
    }
}

/*Tablet (601–1024px)*/
@media (min-width: 601px) and (max-width: 1024px) {

    .header,
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .box-container {
        width: 45%;
        height: auto;
        padding: 1.5rem;
    }

    #main-content-home,
    #main-content-reminders,
    #main-content-memory,
    #main-content-activity {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .login-form {
        width: 250px;
        height: auto;
    }

    .popup-container {
        width: 300px;
        height: auto;
    }
}

/* Desktop (1025px and up)*/
@media (min-width: 1025px) {
    .box-container {
        width: 200px;
        height: 150px;
    }

    .menu {
        justify-content: flex-end;
    }

    #main-content-home,
    #main-content-reminders,
    #main-content-memory,
    #main-content-activity {
        flex-direction: row;
        justify-content: space-around;
    }

    .login-form {
        width: 200px;
        height: 100px;
    }

    .popup-container {
        width: 250px;
        height: 250px;
    }
}