.alert-box-container {
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    height: 50px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    color: blue;
    font-weight: bold;
}