.box-container {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 10px;
  box-shadow: 2px 2px 12px rgba(151, 142, 159, 0.3);
  text-align: center;
  align-content: center;
  background-color: #c8e6c9
}



/*media*/
/* .box-container {
    width: 90%;
    height: auto;
    padding: 1rem;
  } */