.header {
    display: flex;
    align-items: center;
    height: 10%;
    /* padding-top: 5px; */
    background-color:#e0f7fa;
}

.footer {
    height: 10%;
    display: flex;
    align-items: center;
    background-color:#e0f7fa;

}

#header-logo {
    width: 10%;
}

nav {
    width: 90%;
}

.menu {
    width: 100%;
    display: flex;
    gap: 10px;
    /* Adds space between menu items */
    list-style-type: none;
    /* Removes bullet points if using <ul> */
    padding: 0;
    margin: 0;
    justify-content: end;
}

.menu li:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.05);
}

.copy-right-col {
    width: 20%;
}

.social-icons {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

li {
    font-weight: bold;
}

.link {
    text-decoration: none;
}




/* .header,
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
.social-icons {
    justify-content: center;
    flex-wrap: wrap;
  } */